@import 'tailwindcss';

:root {
  --color-primary: #36558f;
  --color-hover: #40376e;
  --color-background: #f8f4e3;
  --color-highlight: #d4e4bc;
  --color-icon: #966eb3;
  --color-success: #568259;
}

body {
  background: var(--color-background);
  font-family: sans-serif;
}
